@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuItem {
    position: relative;
    margin-left: 1.8em;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #fff;
    line-height: 1em;
    letter-spacing: 2px;
    cursor: pointer;
}

.menuItem:hover {
    color: #c5bfff;
}

.menuItem a {
    text-decoration: none;
}

.glassBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #323438;
    opacity: 0.9;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: -15px 15px 40px -5px rgba(0, 0, 0, 0.8);
}